.theme-btn.btn-primary {
  background: #cf2d76;
  border-color: #cf2d76;
  border-radius: 40px;
  padding: 10px 35px; }

header {
  padding: 32px 0; }
  header .site-logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
  opacity: .6; }

.theme-home-slider {
  padding-top: 80px; }
  .theme-home-slider .theme-home-slider-text {
    font-size: 66px;
    color: #fff; }
  .theme-home-slider .theme-home-slider-sub-text {
    color: rgba(255, 255, 255, 0.5); }
  .theme-home-slider .theme-home-slider-feature {
    color: #fff; }
    .theme-home-slider .theme-home-slider-feature .feature {
      border-radius: 34px;
      position: absolute;
      padding: 20px 0;
      right: 0;
      top: 80px;
      width: 180px;
      animation: wiggle-slow 10s ease infinite; }
      .theme-home-slider .theme-home-slider-feature .feature:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(-15deg);
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 34px;
        z-index: -1;
        animation: wiggle 5s ease infinite; }
      .theme-home-slider .theme-home-slider-feature .feature img {
        color: #fff;
        width: 40px; }
      .theme-home-slider .theme-home-slider-feature .feature.f1 {
        background: #f4812e; }
        .theme-home-slider .theme-home-slider-feature .feature.f1:before {
          background: rgba(244, 129, 46, 0.5); }
      .theme-home-slider .theme-home-slider-feature .feature.f2 {
        background: #cf2d76;
        right: 230px;
        top: 210px; }
        .theme-home-slider .theme-home-slider-feature .feature.f2:before {
          background: rgba(207, 45, 118, 0.5); }
      .theme-home-slider .theme-home-slider-feature .feature.f3 {
        background: #582dd2;
        top: 330px; }
        .theme-home-slider .theme-home-slider-feature .feature.f3:before {
          background: rgba(88, 45, 210, 0.5); }

@keyframes wiggle {
  0% {
    transform: rotate(-25deg); }
  50% {
    transform: rotate(25deg); }
  100% {
    transform: rotate(-25deg); } }

@keyframes wiggle-slow {
  0% {
    transform: rotate(-5deg); }
  50% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(-5deg); } }

body {
  background: url(../images/bg.jpg);
  background-size: cover;
  font-family: "Montserrat", sans-serif; }

a {
  color: #cf2d76;
  text-decoration: underline;
  font-weight: bold; }
